#home{
    width: 100%;
    .home-content{
        height: 100vh;
        padding-top: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .home-tagline{
            text-align: center;
            color: var(--theme-color);
        }
        .home-sub-text{
            color: grey;
            text-align: center;
            font-size: 13px;
        }
        .theme-btn, .home-para{
            text-align: center;
            margin-top: 30px;
        }
        .theme-btn{
            padding: 20px 20px;
            border-radius: 8px;
        }
    }
}