.helpMenuContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .navigation{
        display: flex;
        justify-content: space-between;

        .title{
            font-size: 1.2rem;
            font-weight: 600;
        }
        .close{
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    .box{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .8rem;

    }
}