* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --theme-color: #ff6666;
  --theme-color-light: #ff66662c;
}

.theme-btn{
  background-color: var(--theme-color);
  border: none;
  cursor: pointer;
  color: white;
}

.theme-text{
  color: var(--theme-color);
}

.theme-hover-solid:hover{
  background-color: var(--theme-color);
  color: white;
}

.theme-hover-transparet-bg:hover{
  background-color: var(--theme-color-light);
  color: var(--theme-color);
}

.btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-pad{
  padding: 10px 20px;
}
.text-center{
  text-align: center;
}

.flexEnd{
  width: -webkit-fill-available;
  display: flex;
  justify-content: end;
}

.ant-select-dropdown{
  z-index: 999999;
}