.ant-menu {
  background-color: var(--theme-color);
  color: white;
  padding-top: 30px;
  li:hover {
    color: white !important;
  }
  .ant-menu-item-selected {
    background-color: white;
    color: var(--theme-color) !important;
    &:hover {
      background-color: white;
      color: var(--theme-color) !important;
    }
  }
}
.ant-layout-sider {
  scrollbar-width: 5px;
}
.ant-layout-sider::-webkit-scrollbar {
  width: 5px;
  border: none;
  background-color: white;
}
.ant-layout-sider::-webkit-scrollbar-track {
  width: 5px;
  background-color: var(--theme-color-light);
}
.ant-layout-sider::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--theme-color);
}
.side-bar-top {
  .side-bar-logo {
    background-color: white;
    padding: 10px;
  }
  .side-bar-logo img {
    width: 100%;
  }
  .user-area {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    color: white;
    img {
      height: 80px;
      width: 90px;
      object-fit: contain;
      object-position: top;
    }
  }
}

.side-footer {
  padding: 0px 5px;
  padding-bottom: 20px;
  .side-footer-content {
    svg{
      cursor: pointer;
      color: white;
    }
    .footer-actions{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      svg{
        flex-shrink: 0;
      }
    }
  }
}

.site-layout {
  background-color: white !important;
  .admin-content {
    padding-left: 16px;
    height: calc(100vh - 30px);
    overflow: hidden;
    .admin-header {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      h1 {
        font-size: 35px;
      }
      .route-name{
        text-transform: capitalize;
      }
    }
    .admin-routes {
      height: calc(100vh - 100px);
      overflow-y: auto;
      margin-top: 80px;
      padding-top: 50px;
      padding-right: 20px;
      padding-bottom: 50px;
      &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: var(--theme-color-light);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--theme-color);
      }
    }
  }
}
