#admin {
  display: flex;
  position: relative;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
  .admin-side-bar {
    background-color: rgb(173, 173, 173);
    width: 250px;
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  .side-bar-toggler{
    display: none;
    padding: 0px 10px;
    cursor: pointer;
    @media screen and (max-width: 700px) {
      display: block;
    }
  }
  .admin-mobile-side-bar{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    overflow-y: auto;
    transition: all 0.3s linear;
    @media screen and (max-width: 700px) {
      display: block;
    }
  }
  .admin-content {
    flex-grow: 1;
    padding: 30px;
    @media screen and (max-width: 700px) {
      padding: 10px;
    }
  }
}
