.ant-menu {
  background-color: var(--theme-color);
  color: white;
  padding-top: 30px;
  li:hover {
    color: white !important;
  }
  .ant-menu-item-selected {
    background-color: white;
    color: var(--theme-color) !important;
    &:hover {
      background-color: white;
      color: var(--theme-color) !important;
    }
  }
}
.ant-layout-sider {
  scrollbar-width: 5px;
}
.ant-layout-sider::-webkit-scrollbar {
  width: 5px;
  border: none;
  background-color: white;
}
.ant-layout-sider::-webkit-scrollbar-track {
  width: 5px;
  background-color: var(--theme-color-light);
}
.ant-layout-sider::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--theme-color);
}
.side-bar-top {
  .side-bar-logo {
    background-color: white;
    padding: 10px;
  }
  .side-bar-logo img {
    width: 100%;
  }
  .user-area {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    color: white;
    img {
      height: 80px;
      width: 90px;
      object-fit: contain;
      object-position: top;
    }
  }
}

.site-layout {
  background-color: white !important;
}
